@model MAS_TestiranjeSoftvera_Projekat.Domain.Mesto

@{
    ViewData["Title"] = "Edit";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
                <input type="hidden" asp-for="MestoId" class="form-control" />
         
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input id="naziv" asp-for="Naziv" class="form-control" />
                <span id="spanNaziv" asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PttBroj" class="control-label"></label>
                <input id="pttBroj" asp-for="PttBroj" class="form-control" />
                <span id="spanPttBroj" asp-validation-for="PttBroj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrojStanovnika" class="control-label"></label>
                <input id="brojStanovnika" asp-for="BrojStanovnika" class="form-control" />
                <span id="spanBrojStanovnika" asp-validation-for="BrojStanovnika" class="text-danger"></span>
            </div>
      
            <div class="form-group">
                <input type="submit" id="btnUpdate" value="Sacuvaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
